{% extends "base.html" %}
{% block head %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}
{% block content %}
<h1>{{ summoner_name }}, {{ region }}!</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Champion</th>
      <th>Champion Stats</th>
      <th>KDA</th>
      <th>Ranked Stats</th>
    </tr>
  </thead>
  <tbody>
  {% for player in blue_team %}
    <tr>
      <td>{{ player.summoner_name }}</td>
      <td>{{ player.champ }}</td>
      <td><span style="color:green;">{{ player.champ_wins }}</span>/<span style="color:red;">{{ player.champ_losses }}</span></td>
      <td>{{ player.avg_kills }}/{{ player.avg_deaths }}/{{ player.avg_assists }}</td>
      <td><span style="color:green;">{{ player.season_wins }}</span>/<span style="color:red;">{{ player.season_losses }}</span></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
