{% extends "base.html" %}
{% block head %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}
{% block content %}
<h1>{{ summoner_name }}, {{ region }}!</h1>

{% for player in blue_team %}
  <div class="blueTeam">
    <p>{{ player.summoner_name }} is playing {{ player.champ }} with an average KDA of <p data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_kills }} kills per game.">{{ player.avg_kills }}</p>/<p data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_deaths }} kills per game.">{{ player.avg_deaths }}</p>/<p data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_assists }} assists per game.">{{ player.avg_assists }}</p>, {{ champ_wins }} wins and {{ champ.losses }}. He has {{ spell_1 }} on d and {{ spell_2 }} on f.</p>
    <br>
  </div>
{% endfor %}
{% endblock %}
