{% extends "base.html" %}
{% block head %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
})

</script>
{% endblock %}
{% block content %}
<h1 align="center" class="display-1">lolxd</h1>
<hr id="blue_breaker">
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>KDA</th>
        <th>Champion Stats</th>
        <th>Ranked Stats</th>
      </tr>
    </thead>
    <tbody>
    {% for player in blue_team %}
      <tr>
        <td>
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ player.champ_key }}.png" style="width:50px; height:50px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/mastery/{{ player.keystone_id }}.png" style="width:32px; height:32px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ player.spell_1 }}.png" style="width:23px; height:23px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ player.spell_2 }}.png" style="width:23px; height:23px">
        </td>
        <td>{{ player.summoner_name }}</td>
        <td><img src="/static/img/{{ player.tier }}.png" style="width:24px; height: 24px;">{{ player.tier }} {{ player.division }}</td>
        <td>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_kills }} kills per game.">{{ player.avg_kills }} ({{ player.deviation_kills }}) </span>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} dies {{ player.gg_avg_deaths }} times per game.">{{ player.avg_deaths }} ({{ player.deviation_deaths }})</span>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_assists }} assists per game.">{{ player.avg_assists }} ({{ player.deviation_assists }})</span>
        </td>
        <td>
            <span style="color:green;">{{ player.champ_wins }}</span> / <span style="color:red;">{{ player.champ_losses }}</span> <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} has a winrate of {{ player.gg_avg_winrate }} %">({{ player.champ_winrate }}%)</span>
        </td>
        <td>
            <span style="color:green;">{{ player.season_wins }}</span> / <span style="color:red;">{{ player.season_losses }}</span> ({{ player.winrate }}%)
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <hr>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>KDA</th>
        <th>Champion Stats</th>
        <th>Ranked Stats</th>
      </tr>
    </thead>
    <tbody>
    {% for player in red_team %}
      <tr>
        <td>
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ player.champ_key }}.png" style="width:50px; height:50px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/mastery/{{ player.keystone_id }}.png" style="width:32px; height:32px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ player.spell_1 }}.png" style="width:23px; height:23px">
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ player.spell_2 }}.png" style="width:23px; height:23px">
        </td>
        <td>{{ player.summoner_name }}</td>
        <td><img src="/static/img/{{ player.tier }}.png" style="width:18px; height: 18px;">{{ player.tier }} {{ player.division }}</td>
        <td>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_kills }} kills per game.">{{ player.avg_kills }} ({{ player.deviation_kills }}) </span>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} dies {{ player.gg_avg_deaths }} times per game.">{{ player.avg_deaths }} ({{ player.deviation_deaths }})</span>
            <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} gets {{ player.gg_avg_assists }} assists per game.">{{ player.avg_assists }} ({{ player.deviation_assists }})</span>
        </td>
        <td>
            <span style="color:green;">{{ player.champ_wins }}</span> / <span style="color:red;">{{ player.champ_losses }}</span> <span data-toggle="tooltip" title="According to champion.gg, the average {{ player.champ }} has a winrate of {{ player.gg_avg_winrate }} %">({{ player.champ_winrate }}%)</span>
        </td>
        <td>
            <span style="color:green;">{{ player.season_wins }}</span> / <span style="color:red;">{{ player.season_losses }}</span> ({{ player.winrate }}%)
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div>
    {% for item_id in items %}
    <p> <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{ item_id }}.png"> </p>
    {% endfor %}
</div>
{% endblock %}
