{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
          var bgArray = ['http://i.imgur.com/7GC3ouD.jpg'];
          var bg = bgArray[Math.floor(Math.random() * bgArray.length)];
          document.getElementById("header-container").style.backgroundImage = 'url('+ bg +')'
});
</script>

<script type="text/javascript">
function redirect() {
    summoner_name = document.getElementById("summoner_name");
    region = document.getElementById("region_dropdown");
    region_text = region.value;
    window.location = window.location + region_text + "/" + summoner_name.value;
}

function redirect_random() {
    window.location = window.location + 'random'
 }
</script>
{% endblock %}
{% block content %}
    <header id="header-container">
        <div class="header-content center">
            <div class="header-content-inner">
                <h1 id="homeHeading">lolxd</h1>
                 <form action="javascript:redirect();">
                        <div class="form-group col-md-4 col-md-offset-4">
                          <div id="region_select">
                            <select id="region_dropdown" class="form-control">
                                <option value="euw">EU West</option>
                                <option value="eune">EU Nordic and East</option>
                                <option value="ru">Mother Russia</option>
                                <option value="tr">Turkey</option>
                                <option value="na">North America</option>
                                <option value="br">Brazil huehuehuehue</option>
                                <option value="lan">Latin America North</option>
                                <option value="las">Latin America South</option>
                                <option value="jp">Japan</option>
                                <option value="kr">Korea</option>
                                <option value="oce">Oceania</option>
                            </select>
                          </div>
                        </div>
                        <div id="summoner_name_input" class="inputgroup col-md-4 col-md-offset-4">
                            <input id="summoner_name" type="text" class="form-control" value="" placeholder="Summoner Name">
                        </div>
                            <div id="search_button" onclick="redirect();" class="btn btn-default col-md-1 col-offset-4">
                                Search
                            </div>
                     </form>
                <div id="random_game" class="col-md-4 col-md-offset-4">
                    <form action="javascript:redirect_random();">
                        <div>
                            <button class="btn btn-default" style> Random Game </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer_index" class="footer" style="position: absolute; right: 0; left: 0; bottom: 0; text-align: center; padding: 1rem; opacity: 0.5;">
            <p>lolxd isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing <i>League of Legends</i>. <i>League of Legends</i> and Riot Games are trademarks or registered trademarks of Riot Games, Inc. <i>League of Legends</i> © Riot Games, Inc.</p>
        </div>
    </header>
{% endblock %}
