{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
          var bgArray = ['https://scontent-arn2-1.xx.fbcdn.net/v/t35.0-12/15681736_10210403530555997_1481286026_o.jpg?oh=3ba92a0a2003f80ad07e05df58af7cf9&oe=5860E935', 'https://scontent-arn2-1.xx.fbcdn.net/v/t35.0-12/15682559_10210403535796128_934927304_o.jpg?oh=91af11c4cb0cd5402e86f1cd7326c021&oe=5860DDBB', 'http://pre04.deviantart.net/85a7/th/pre/f/2013/042/5/0/akali_by_vin8it-d5ul3hx.jpg', 'http://pre13.deviantart.net/2811/th/pre/i/2013/042/b/2/ahiri_by_vin8it-d5ul314.jpg'];
          var bg = bgArray[Math.floor(Math.random() * bgArray.length)];
          document.getElementById("header-container").style.backgroundImage = 'url('+ bg +')'
});
</script>

<script type="text/javascript">
function redirect() {
    summoner_name = document.getElementById("summoner_name");
    region = document.getElementById("region_dropdown");
    region_text = region.options[region.selectedIndex].text;
    window.location = window.location + region_text + "/" + summoner_name.value;
}

function redirect_random() {
    window.location = window.location + 'random'
 }
</script>
{% endblock %}
{% block content %}
    <header id="header-container">
        <div class="header-content center">
            <div class="header-content-inner">
                <h1 id="homeHeading">lolxd</h1>
                 <form action="javascript:redirect();">
                        <div class="form-group col-md-4 col-md-offset-4">
                          <div id="region_select">
                            <select id="region_dropdown" class="form-control">
                                <option>EU West</option>
                                <option>EU Nordic and East</option>
                                <option>Mother Russia</option>
                                <option>Turkey</option>
                                <option>North America</option>
                                <option>Brazil huehuehuehue</option>
                                <option>Latin America North</option>
                                <option>Latin America South</option>
                                <option>Japan</option>
                                <option>Korea</option>
                                <option>Oceania</option>
                            </select>
                          </div>
                        </div>
                        <div id="summoner_name_input" class="inputgroup col-md-4 col-md-offset-4">
                            <input id="summoner_name" type="text" class="form-control" value="" placeholder="Summoner Name">
                        </div>
                            <div id="search_button" onclick="redirect();" class="btn btn-default col-md-1 col-offset-4">
                                Search
                            </div>
                     </form>
                <div id="random_game" class="col-md-4 col-md-offset-4">
                    <form action="javascript:redirect_random();">
                        <div>
                            <button class="btn btn-default" style> Random Game </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

